body {
    margin: 0;
    padding: 25px;
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}

h2 {
    margin-bottom: 10px;
}

p {
    margin: 5px 0;
    font-size: 15px;
}

b {
    font-weight: 600;
}

/* Buttons */
button {
    padding: 7px 14px;
    background: #4f46e5;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

button:hover {
    background: #4338ca;
}

a {
    text-decoration: none;
}

div {
    margin-top: 15px;
}

a button {
    margin-right: 10px;
}
